@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin         : 0;
    padding        : 0;
    box-sizing     : border-box;
    box-shadow     : none !important;
    text-decoration: none !important;
    outline        : none !important;
    list-style     : none !important;
}

:root {
    --color-bg-1       : #1A1A4C;
    --color-bg-2       : #2C2E83;
    --color-bg-3       : #5355EA;
    --color-brand      : #f45454;
    --color-brand-light: #df7676;
    --color-body       : #EEF3FF;
    --color-heading    : #fff;
    --color-border     : rgba(84, 85, 163, 0.1);
    --font-main        : 'Noto Sans', sans-serif;
    --border-radius    : 32px;
}

body {
    font-family     : var(--font-main);
    background-color: var(--color-bg-1);
    color           : var(--color-body);
    line-height     : 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color      : var(--color-heading);
    font-weight: 700;
}

a {
    transition: all .4s ease;
}

a:hover {
    color: var(--color-brand);
}

img {
    width: 100%;
}

section {
    padding: 120px 0;
}

.btn {
    padding: 12px 24px;
}

.btn-brand {
    background-color: var(--color-brand);
    color           : var(--color-heading);
    font-weight     : 700;
    border-radius   : 100px;
}

.btn-brand:hover {
    background-color: var(--color-brand-light);
    color           : var(--color-heading);
}

/**Navbar**/

.navbar {
    background-color: var(--color-bg-1) !important;
    border-bottom: var(--color-border) 3px solid;
}

.navbar-brand {
    display    : flex;
    align-items: center;
    gap        : 0.5rem;
}

.logo {
    width: 50px;
}

.nav-link {
    color      : var(--color-heading) !important;
    font-weight: 700;
}

.nav-link:hover {
    color        : var(--color-brand) !important;
    border-bottom: #EEF3FF 2px solid;
}

/**INICIO*/

#home h1 {
    font-weight: 800;
}

#home p {
    font-weight: 500;
    max-width  : 600px;
    margin     : 24px auto;
}

#home .btn-brand {
    margin-bottom: 120px;
}

.bg-image {
    min-height           : 450px;
    background           : url(../img/bg.jpg) no-repeat center center/cover;
    background-attachment: fixed;
}